{% extends "base.html" %}
{% block title %}Twitter Cannibal!{% endblock %}
{% block content %}



<div class ='col-md-6 col-md-offset-3 text-center'>
  <!--Status message updates-->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
  {% endwith %}

  <img class="img-rounded" src="{{ url_for('static', filename="images/twitter_cannibal.svg") }}"><br>
  <h1 style="font-family: 'Bungee Inline', serif;">Twitter Cannibal</h1>
    <h3>Flow:
  <div class="btn-group" role="group" aria-label="...">

    {% if authurl %}
      <a class="btn btn-default btn-lg btn-info" href={{ authurl }} role="button">1. Twitter</a>
      <a class="btn btn-default btn-lg" disabled="disabled" href="" role="button">2. Reddit</a>
      <a class="btn btn-default btn-lg" disabled="disabled" href="" role="button">3. Go!</a>

    {% elif raurl %}
      <a class="btn btn-default btn-success btn-lg" disabled="disabled" href='' role="button">1. Twitter</a>
      <a class="btn btn-default btn-lg btn-info" href={{ raurl }} role="button">2. Reddit</a>
      <a class="btn btn-default btn-lg" disabled="disabled" href="" role="button">3. Go!</a>

    {% else %}
      <a class="btn btn-default btn-success btn-lg" disabled="disabled" href='' role="button">1. Twitter</a>
      <a class="btn btn-default btn-success btn-lg" disabled="disabled" href='' role="button">2. Reddit</a>
      <a class="btn btn-default btn-lg btn-info" href="{{ url_for('splash.analyze') }}" role="button">3. Go!</a>
  {% endif %}
 </div></h3>
  <br>
  {% if raurl %}
  <a href="{{ url_for('splash.noreddit') }}">Or: I don't have a reddit account.</a>
  {% endif %}
  <a href="{{ url_for('auth.logout') }}">Reset Accounts</a>
  <br>
<a class="btn btn-danger btn-xs" data-toggle="popover" title="Reddit Privacy"
   data-content="Your subreddits are accessed to validate search results. The names of the subreddits are not stored, just the number of matches between the search results and your already subscribed to subreddits. Thanks!">
  Privacy concerns?</a>


{% endblock %}
