<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="col-md-12 text-center">
<h1>Twitter Cannibal</h1>
<h2>Turn your Twitter profile into new friends on Reddit!</h2>
</div>
{% block content %}{% endblock %}
</body>
</html>

<!-- Import JS Libs -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
